body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #e07a5f;
}

#bigsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f1de;
  width: 50%;
  height: 50%;
  border-radius: 30px;
  box-sizing: border-box;
}

#bigsection h1 {
  font-size: 3em;
  font-weight: 500;
  color: #3d405b;
  margin: 0px;
}

#bigsection h2 {
  font-size: 2.5em;
  font-weight: 500;
  color: #3d405b;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 500;
  border: 5px solid #3d405b;
  background-color: #f2cc8f;
  color: #3d405b;
  border-radius: 5px;
}
