body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="color"]::-webkit-color-swatch {
    border: 4px white solid;
    border-radius: 40px;
  }
  
  input {
    width: 80px;
    height: 80px;
    border-color: rgb(206, 200, 200);
    /* color: rgb(112, 58, 58); */
    background-color: transparent;
    border: none;
    cursor: pointer;
  }